
<!-- test -->
<app-user-profile></app-user-profile>
<h1 appHightlight>Raclette</h1>
<ul>
  <li>Pommes de terre</li>
  <li [ngStyle]="{backgroundColor : isThisIngredientVital ? 'red' : 'yellow'}">Raclette</li>
  <li>Jambon</li>
  <li [ngClass]="{'vital' : isThisIngredientVital}">Cornichons</li>
  <li>Chou-fleur</li>
</ul>
  <hr>
  <ul *appDisplayGuest="displayGuestList">
    <li>Brenda</li>
    <li>Dylan</li>
    <li>Jean-Mi</li>
    <li>Kylie</li>
  </ul>
  <ul *ngFor="let song of songList">
    <li>{{song}}</li>
  </ul>

  <ul *appDisplayMovie>
    <li>Shutter Island</li>
    <li>L'effet Papillon</li>
    <li>Constantine</li>
    <li>Sixième Sens</li>
  </ul>